*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #00142a;
  }

 
  #navbar{
     padding: 5px;
      height: 50px;
      display: flex;
     justify-content: space-around;
     align-items: center; 
     margin: 1px auto;
  }

 .items{
    /* position: relative; */
    display: flex;
    gap: 5%;
    color: white;
}
 .searchbtn{
    color: white;
   }

.group {
    /* position: absolute; */
    margin-left: 7.2%;
    margin-right: 27.15%;
    margin-top: 5.84%;
    margin-bottom: 1.69%;
  }
  .line1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
   color: #FFFFFF;
  }
  .line2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
   
  }

  .cryptochart {
      /* border:1px solid red ; */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
     
      margin-top: 5.84%;
   }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    padding: 1%;
    margin: 1px auto;
    /* border:1px solid greenyellow ; */
  }

  tr,td {
    font-size: 20px;
    padding: 1%;
   
    color: white;
    font-family: "Poppins", sans-serif;
  }
  .th {
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  .headingname {
    text-align: left;
  }
  .symbol {
    width: 40px;
    height: 40px;
  }
  .name {
    position: relative;
    top: -14px;
    width: 72px;
    height: 30px;
    margin-right: 19px;
    margin-left: 23px;
    font-size: 20px;
    color: white;
  }
  .rate {
    position: relative;
    top: -14px;
    font-size: 16px;
    color: gray;
  }
  .pricebox {
    position: relative;
    left: 31px;
  }
  .timebox {
    position: relative;
    left: 72px;
  }
  .graphbox {
    position: relative;
    left: 30px;
  }
  .marketbox {
    position: relative;
    left: 64px;
  }
  .green {
    color: #14ff00;
  }
  .red {
    color: #ff0000;
  }
  .buttonbox {
    width: 200px;
    height: 60px;
    border: 1px solid #3dd8ee;
    border-radius: 8px;
    margin: 25px auto;
    color: #FFFFFF;
    background: linear-gradient(90deg, #3DD8EE 0%, #0997E8 100%);
  }
  .button {
    font-size: 24px;
    margin: auto;
    color: #FFFFFF;
    background-color: transparent;
  }



  .mapmaobox {
    width: 95%px;
    height: 651px;
    display: flex;
    gap: 2%;
    background-color: #00092a;
    margin-top: 50px;
    padding: 2%;
    border:1px solid greenyellow ;
  }

  .map{
    width: 50%;
    border:1px solid greenyellow ;
    background-image: url(./image/map.svg);
  }
.mapdetails{
    width: 45%;
    display: flex;
    flex-direction: column;
    border:1px solid greenyellow ;
}

.maptrust {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  .maplorem {

   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
    font-family: "Poppins", sans-serif;
  }