*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #00142a;
  }

 
  #navbar{
     padding: 5px;
      height: 50px;
      display: flex;
     justify-content: space-around;
     align-items: center; 
     margin: 1px auto;
  }

 .items{
    /* position: relative; */
    display: flex;
    gap: 5%;
    color: white;
}
 .searchbtn{
    color: white;
   }

.group {
    /* position: absolute; */
    margin-left: 7.2%;
    margin-right: 27.15%;
    margin-top: 5.84%;
    margin-bottom: 1.69%;
  }
  .line1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
   color: #FFFFFF;
  }
  .line2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
   
  }

  .cryptochart {
      /* border:1px solid red ; */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
     
      margin-top: 5.84%;
   }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    padding: 1%;
    margin: 1px auto;
    /* border:1px solid greenyellow ; */
  }

  tr,td {
    font-size: 20px;
    padding: 1%;
   
    color: white;
    font-family: "Poppins", sans-serif;
  }
  .th {
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  .headingname {
    text-align: left;
  }
  .symbol {
    width: 40px;
    height: 40px;
  }
  .name {
    position: relative;
    top: -14px;
    width: 72px;
    height: 30px;
    margin-right: 19px;
    margin-left: 23px;
    font-size: 20px;
    color: white;
  }
  .rate {
    position: relative;
    top: -14px;
    font-size: 16px;
    color: gray;
  }
  .pricebox {
    position: relative;
    left: 31px;
  }
  .timebox {
    position: relative;
    left: 72px;
  }
  .graphbox {
    position: relative;
    left: 30px;
  }
  .marketbox {
    position: relative;
    left: 64px;
  }
  .green {
    color: #14ff00;
  }
  .red {
    color: #ff0000;
  }
  .buttonbox {
    width: 200px;
    height: 60px;
    border: 1px solid #3dd8ee;
    border-radius: 8px;
    margin: 25px auto;
    color: #FFFFFF;
    background: linear-gradient(90deg, #3DD8EE 0%, #0997E8 100%);
  }
  .button {
    font-size: 24px;
    margin: auto;
    color: #FFFFFF;
    background-color: transparent;
  }



  .mapmaobox {
    width: 95%px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2%;
    background-color: #00092a;
    margin-top: 50px;
    padding: 2%;
    /* border:1px solid greenyellow ; */
  }

  @media all and (min-width: 320px) and (max-width: 479px) {
    .mapmaobox {
      grid-template-columns: repeat(1, 1fr);
    
    }
  }
  .map{
  
    /* border:1px solid greenyellow ; */
    background-image: url(./image/map.svg);
  }
.mapdetails{
  
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    /* border:1px solid greenyellow ; */
}

.maptrust {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  .maplorem {

   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
    font-family: "Poppins", sans-serif;
  }

  .cccmain_box{
    width: 95%;
    padding-left: 2%;
    /* border: 1px solid blueviolet; */
  }

  .ccclorembox {
    font-family: "Poppins", sans-serif;
    display: flex;
    padding-left: 2%;
    gap: 10px;
    margin-bottom: 3rem;
    margin-top: 3rem ;
    /* border: 1px solid red; */
  }
  .ccclogodiv {
    width: 80px;
    height: 80px;
    background-color: #0f1535;
  }

  .maptextlogo {
    width: 30px;
    height: 20px;
    position: relative;
    left: 23px;
    top: 28px;
  }

  .ccclogohd {
    width: 392px;
    height: 80px;
   }

  .ccclogohead {
  
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .ccclogodesc {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }



  .reasonbox {
    display: flex;
    padding: 1%;
  }
  .leftbox {
    width: 537px;
    margin-left: 100px;
    margin-right: 110px;
  }
  .leftboxhead {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: white;
    margin-top: 50px;
  }
  .leftboxtext {
    display: flex;
    margin-top: 50px;
  }
  .leftboxlogo {
    width: 30px;
    height: 30px;
  }
  .leftboxtext1 {
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .leftboxtext2 {
  
    margin-left: 45px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .rightbox {
    width: 601px;
    height: 732px;
  }
  .rightboxin1 {
    width: 583.5px;
    height: 63.5px;
    margin-top: 228px;
  }
  .rightboxin2 {
    width: 585px;
    height: 77.5px;
    margin-top: 3.5px;
  }
  .rightboxin3 {
    width: 601px;
    height: 53.5px;
  }
  .rightboxin4 {
    width: 585px;
    height: 77.5px;
    margin-top: 5px;
  }
  .rightboxin5 {
    width: 601px;
    height: 53.5px;
  }
  .rightmainbox {
    width: 365px;
    height: 532px;
    position: absolute;
    left: 869px;
    top: 2022px;
    background: linear-gradient(
      180.04deg,
      rgba(4, 19, 52, 0.78) -3.16%,
      rgba(15, 37, 84, 0.62) 99.42%
    );
    border: 2px solid #142346;
    backdrop-filter: blur(1px);
    border-radius: 50px;
    margin-top: -45px;
  }
  .rightmainboxhead {
    width: 288px;
    height: 36px;
    margin-top: 44px;
    margin-left: 39px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: white;
    /* border: 1px solid red; */
  }
  .rightboxtable {
    width: 283px;
    height: 60px;
    margin-top: 28px;
    margin-left: 41px;
    display: flex;
  }
  .rightboxdata {
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 360px;
  }
  .rightboxhr {
    margin-top: 20px;
  }
  .rightboxdata2 {
    width: 80px;
    height: 60px;
    margin-left: 20px;
  }
  .rightboxdatatext {
    position: relative;
    left: 20px;
    width: 61px;
    height: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  .rightboxdatatext1 {
    position: relative;
    width: 31px;
    height: 24px;
    left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  .rightboxdata3 {
    width: 70px;
    height: 27px;
    position: relative;
    left: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #00ff47;
  }
  .uparrow {
    width: 15px;
    height: 20px;
  }

  
.cssbox {
  width: 100%;
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2,1fr);
  background-color: #00092a;
  /* border:  1px solid red; */
}
.lastboxleft {
  width: 100% ;
}

.lastboxlogo {
  position: relative;
  left: 104px;
  top: 50px;
}
.lastboxtext {
  position: relative;
  top: 80px;
  left: 75px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.lastboxright {
  width: 75%;
  height: 415px;
  display: flex;
  justify-content: space-between;
}
.lastboxdata {
  margin-top: 45px;

  color: #ffffff;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.company,
.social,
.support {
  font-size: 16px;
  margin-top: 20px;
}
.footerbox {
  text-align: center;
  background: transparent;
  color: white;
  height: 50px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}












