
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {
    background-color: #00142a;
  
  }

 
  nav{
    display: inline;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
   }

 .items ul > li{
    position: relative;
    display: inline;
    margin-right: 1rem;
    color: white;

  }
  .items > ul > li a{
   color: white;
   text-decoration: none;
  }
   .searchbtn{
    color: white;
   }

.group {
   position: relative;
   left: 7.2%;
   right: 27.15%;
   top: 5.84%;
   bottom: 91.69%;
   margin-top: 3rem;
 }
  .line1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF; 
  }
  .line2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF; 
  }

  .cryptochart {
      /* border:1px solid red ; */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
     
      margin-top: 5.84%;
   }

   .namebox{
    flex: none;
    text-align: left;
    order: 0;
    flex-grow: 0;
   }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    padding: 1%;
    margin: 1px auto;
    /* border:1px solid red ; */
  }
 th{
  text-align: center;
 }
  tr,td {
    font-size: 20px;
    padding: 1%;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  th {
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }


  @media all and (min-width: 451px) and (max-width: 720px) {
    tr,th ,td{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 20px;
    }
  }


  .headingname {
    text-align: left;
    padding-left: 1rem;
  }
  .symbol {
    width: 40px;
    height: 40px;
  }
  .name {
    position: relative;
    top: -14px;
    width: 72px;
    height: 30px;
    margin-right: 19px;
    margin-left: 23px;
    font-size: 20px;
    color: white;
  }
  .rate {
    position: relative;
    top: -14px;
    font-size: 16px;
    color: gray;
  }
  .pricebox {
    position: relative;
    left: 31px;
  }
  .timebox {
    position: relative;
    left: 72px;
  }
  .graphbox {
    position: relative;
    left: 30px;
  }
  .marketbox {
    position: relative;
    left: 64px;
  }
  .green {
    color: #14ff00;
  }
  .red {
    color: #ff0000;
  }
  .buttonbox {
    width: 200px;
    height: 60px;
    border: 1px solid #3dd8ee;
    border-radius: 8px;
    margin: 25px auto;
    color: #FFFFFF;
    background: linear-gradient(90deg, #3DD8EE 0%, #0997E8 100%);
  }
  .button {
    font-size: 24px;
    margin: auto;
    color: #FFFFFF;
    background-color: transparent;
  }



  .mapmaobox {
    width: 95%px;
    display: grid;
      grid-template-columns: repeat(2,1fr);
    gap: 2%;
    background-color: #00092a;
    margin-top: 50px;
    padding: 2%;
    /* border:1px solid greenyellow ; */
  }


  @media all and (min-width: 320px) and (max-width: 769px) {

    .mapmaobox {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   
      gap: 2%;
      background-color: #00092a;
      margin-top: 50px;
      padding: 2%;
      /* border:1px solid greenyellow ; */
    }
  
    
    
    
  }
  .map{
  
    /* border:1px solid greenyellow ; */
    background-image: url(./image/map.svg);
  }
.mapdetails{
  
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    /* border:1px solid greenyellow ; */
}

.maptrust {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  .maplorem {

   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
    font-family: "Poppins", sans-serif;
  }

  .cccmain_box{
    width: 95%;
    padding-left: 2%;
    /* border: 1px solid blueviolet; */
  }

  .ccclorembox {
    font-family: "Poppins", sans-serif;
    display: flex;
    padding-left: 2%;
    gap: 10px;
    margin-bottom: 3rem;
    margin-top: 3rem ;
    /* border: 1px solid red; */
  }
  .ccclogodiv {
    width: 80px;
    height: 80px;
    background-color: #0f1535;
  }

  .maptextlogo {
    width: 30px;
    height: 20px;
    position: relative;
    left: 23px;
    top: 28px;
  }

  .ccclogohd {
    width: 392px;
    height: 80px;
   }

  .ccclogohead {
  
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .ccclogodesc {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .reasonbox {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin: auto;
     justify-content: center;
     align-items: center;
     gap: 2%;
     border: 1px solid transparent;
  }

  .leftbox {
    width: 95%;
    margin-bottom: 4%;
    margin-left: 2rem;
    margin-right: 2%;
  }

/*   
  .rightbox {
    position: relative;
    width: 95%;
    border: 2px solid #142346;
    backdrop-filter: blur(1px);
    border: 1px solid green;
  } */


  

  .leftboxhead {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: white;
    margin-top: 50px;
  }
  .leftboxtext {
    display: flex;
    margin-top: 2%;
  }
  .leftboxlogo {
    width: 30px;
    height: 30px;
  }
  .leftboxtext1 {
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .leftboxtext2 {
    margin-left: 45px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .rightbox {
    width: 90% ;
    height: 90%;
    position: relative;
    margin: 30px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
  }
  
  .box {
    width: 100%;
    height: 100%;
    position: absolute;
     top: 0;
    left: 0;
    opacity: 0.7;
    background: transparent;
  }
  
  
  .overlay {
    /* z-index: 5; */
    width: 75%;
    height: 400px;
    border-radius: 30px;
    margin-left: 10%;
    background: linear-gradient(180.04deg, rgba(4, 19, 52, 0.78) -3.16%, rgba(15, 37, 84, 0.62) 99.42%);
    border: 2px solid #142346;
    backdrop-filter: blur(1px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   

  
  }


.overlay text{
  color: white;
}

.rightboxdata img{
 border-radius: 50%;
  background-color: white;
}
  .rightmainboxhead {
    width: 288px;
    /* height: 36px; */
    margin-top: 4px;
    margin-left: 39px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: white;
    /* border: 1px solid red; */
  }

  @media screen and (min-width: 350px) and (max-width: 790px) {
    .reasonbox{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 65% ;
      /* align-items: center;
      justify-content: center; */
  
    }
  }
  
.cssbox {
  width: 100%;
  margin-top: 10px;
  position : relative;
  display: grid;

  gap: 10px;
  grid-template-columns: repeat(2,1fr);
  background-color: #00092a;
  /* border:  1px solid red; */
}
.lastboxleft {
  width: 70% ;
}

.lastboxlogo {
  position: relative;
  left: 104px;
  top: 50px;
}
.lastboxtext {
  position: relative;
  top: 80px;
  left: 75px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.lastboxright {
  width: 75%;
  height: 415px;
  display: flex;
  justify-content: space-between;
}
.lastboxdata {
  margin-top: 45px;

  color: #ffffff;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.company,
.social,
.support {
  font-size: 16px;
  margin-top: 20px;
}


@media screen and (min-width: 350px) and (max-width: 760px) {
  .cssbox{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1% auto;
    align-items: center;
    justify-content: center;
    text-align: left;

  }

  .lastboxleft {
    width: 95% ;
    margin-bottom: 10% ;
  }
  
  .lastboxright {
    margin-left: 15%;
    margin-top: 25px ;
    width: 75%;
    height: 415px;
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
  }
}

.footerbox {
  text-align: center;
  background: transparent;
  color: white;
  height: 50px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .footerbox{
 
    height: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

}










